<h1 class="text-center"><%= @point.address %></h1>

<div id="map-canvas"></div>
<div id="pano" style="min-height:75vh; width: 90%; margin-bottom: 5px; border-radius: 15px;" class="center-block"></div>
