<h2 id="city-1" city-id="<%= @city_1.id %>" ><%= @city_1.name %></h2>
<h2 id="city-2" city-id="<%= @city_2.id %>" ><%= @city_2.name %></h2>

<h2><%#= "#{@matchup.points.first.lat}, #{@matchup.points.first.long}" %></h2>

<h2><%#= "#{@matchup.points.last.lat}, #{@matchup.points.last.long}" %></h2>


<div id="pano-1" style="position:absolute; left:410px; top: 8px; width: 800px; height: 600px;" lat="<%#= @matchup.points.first.lat %>" long="<%#= @matchup.points.first.long %>"></div>
