<h2><%= @matchup.points.first.city.name %></h2>
<h2><%= @matchup.cities.last.name %></h2>

<h2><%= "#{@matchup.points.first.lat}, #{@matchup.points.first.long}" %></h2>

<h2><%= "#{@matchup.points.last.lat}, #{@matchup.points.last.long}" %></h2>