<section class="container-fluid">

  <h1 class="text-center">Potentially coming soon...</h1>

  <section class="row center-block">

    <div class="col-md-3"></div>

    <section id="my-cities" class="col-md-6">
      <ul style="font-size: 18px;">
        <li>User's recent matchups on user and city show pages</li>
        <li>Statistics about cities vs. specific other cities</li>
        <li>Basic info on city show pages (population, a picture, etc.)</li>
        <li>Ability for users to favorite points</li>
        <li>After each vote, showing which city you voted for and maybe some stats</li>
        <li>Ability to click on points on city maps and see the point image</li>
        <li>Once there are enough matchups, convert city map to heat map</li>
        <li>Full random chaos mode — two random cities EVERY time you vote, and you don't even know which two they are</li>
        <li>Stats on session matchups for logged-out users, and adding them to user's matchups on login</li>
        <li>Much better styling, a logo, etc.</li>
        <li>About page explaining the idea of the site, and also some of how it works</li>
        <li>Better copy in general</li>
        <li>Home page that shows global rankings as well as a matchup, and other home page type stuff</li>
        <li>Borough vs. borough!</li>
        <li>Canada eh</li>
        <li>State show pages</li>
        <li>Global recent matchups</li>
        <li>Ability for users to add more cities</li>
        <li>Live updating recent matchups?</li>
        <li>Friends?</li>
        <li>Lots of neat stuff</li>
      </ul>
    </section>

    <section class="col-md-3">
    </section>

  </section>

</section>