<h1>Global City Rankings</h1>

<ol>

<% City.sort_by_win_ratio.each do |city| %>

  <li>
    <strong><%= link_to city.full_name, city_path(city) %></strong><br>won <%= city.win_percentage_display %> of <%= city.total %> matchups
  </li>

<% end %>

</ol>